/* Import Google Fonts nếu muốn */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Inter', 'Roboto', Arial, sans-serif;
  background: #f6f8fa;
  color: #24304a;
}